{% extends "App/NavBar.html" %}
{% block content %}
{% load static %}





<!DOCTYPE html>


<html lang="en">




<section id="home"></section>

<section class="Services-container">


      <div id="services">
            <div class="box">
                  <img src="{% static 'App/img/Bajaj_Logo.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>


            <div class="box">
                  <img src="{% static 'App/img/yamaha Logo.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>



            <div class="box">
                  <img src="{% static 'App/img/tvs-motors-logo-png-0.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>
      </div>
</section>

<section class="Services-container">



      <div id="services">
            <div class="box">
                  <img src="{% static 'App/img/Suzuki_logo.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>


            <div class="box">
                  <img src="{% static 'App/img/KTM.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>



            <div class="box">
                  <img src="{% static 'App/img/Royal_Enfield_Logo_full.png' %}" alt="#">
                  <h2 class="h-secondary center"></h2>
                  <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>
      </div>
</section>



<!-- /* Client Section */ -->

<section class="Services-container">
      <h1 class="Client-h-primary center">Our Partners</h1>
      <div id="Client-services">

            <div class="Client-box">
                  <img src="{% static 'App/img/user.png' %}" alt="#" id="Client-img">
                  <h2 class="Client-h-secondary center"></h2>
                  <p class="Client-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>


            <div class="Client-box">
                  <img src="{% static 'App/img/Tata-Group-logopng.png' %}" alt="#" id="Client-img">
                  <h2 class="Client-h-secondary center"></h2>
                  <p class="Client-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>



            <div class="Client-box">
                  <img src="{% static 'App/img/Mahindra-logo.png' %}" alt="#" id="Client-img">
                  <h2 class="Client-h-secondary center"></h2>
                  <p class="Client-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Inventore
                        voluptate
                        soluta
                        aspernatur doloremque culpa doloribus repudiandae id distinctio reprehenderit quis?
                  </p>
            </div>
      </div>
</section>





</body>
<br><br><br><br><br>
<footer>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15281457.
            685973793!2d72.10943640941872!3d20.757900936896476!2m3!1f0!2f0!3f0!3m2!1
            i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia
            !5e0!3m2!1sen!2sin!4v1687700810054!5m2!1sen!2sin" width="600" height="450" style="border:0;" class="map"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>

</html>

{% endblock %}